# Python
__pycache__/
*.py[cod]
*$py.class
.env
db.sqlite3

# Docker
.docker/

# Секрети (якщо з'являться)
*.pem
*.key

# Системні файли
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
aws/
awscliv2.zip*.tar.gz
linux-amd64/

*.backup
terraform.tfstate*